.heading_div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ec8f5e;
  width: auto;
  
}
.heading {
  font-family: "Oswald", sans-serif;
}

.input_text_area {
  min-width: 50vw;
  max-width: 50vw;
  min-height: 50vh;
  max-height: 50vh;
  background-color: #f1eb90;
}
.summary_div {
  border: 1px solid black;
  width: fit-content;
  height: 50vh;
  width: 48vw;
  background-color: #f1eb90;
  overflow-y: scroll;
  overflow-x: hidden;

}
.summary_div::-webkit-scrollbar {
  width: 10px;
}
.input_text_area::-webkit-scrollbar {
  width: 10px;
}
.summary_div::-webkit-scrollbar-track {
  background-color: #F1EB90; 
}
.input_text_area::-webkit-scrollbar-track {
  background-color: #F1EB90; 
}
.summary_div::-webkit-scrollbar-thumb {
  background-color: #9FBB73; 
  border-radius: 6px; 
}
.input_text_area::-webkit-scrollbar-thumb {
  background-color: #9FBB73; 
  border-radius: 6px; 
}
.summary_div::-webkit-scrollbar-thumb:hover {
  background-color: #EA906C;
}
.input_text_area::-webkit-scrollbar-thumb:hover {
  background-color: #EA906C;
}
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
  font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.submit-button{display: flex;
  position: absolute;
  top: 85vh;
  left: 30vw;
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}


.clear-button {
  display: flex;
  position: absolute;
  top: 85vh;
  left: 75vw;
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.clear-button:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}


.submit-button:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}
.slidecontainer{
  display: flex;
  position:absolute;
  top: 86vh;
  left: 10vw;
}